[Unit]
Description=Munin Node Server.
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/var/run/munin/munin-node.pid
ExecStartPre=/usr/bin/install -d -m 0755 -o munin -g munin /var/run/munin
ExecStart=/usr/sbin/munin-node

[Install]
WantedBy=multi-user.target
